# Copy to /etc/yulin-youxian/server.env, replace every __REQUIRED__ value,
# then chmod 600. This file is sourced by Bash; quote values containing symbols.

TZ='Asia/Shanghai'
YULIN_ROOT='/opt/yulin-youxian'
YULIN_DATA_ROOT='/var/lib/yulin-youxian'
YULIN_LOG_ROOT='/var/log/yulin-youxian'
SERVER_PORT='8080'

MYSQL_HOST='127.0.0.1'
MYSQL_PORT='3306'
MYSQL_DATABASE='yulin_fresh'
MYSQL_URL="jdbc:mysql://${MYSQL_HOST}:${MYSQL_PORT}/${MYSQL_DATABASE}?useUnicode=true&characterEncoding=UTF-8&connectionCollation=utf8mb4_unicode_ci&serverTimezone=Asia/Shanghai&useSSL=false&allowPublicKeyRetrieval=true"
MYSQL_USERNAME='yulin_fresh'
MYSQL_PASSWORD='__REQUIRED__'

ADMIN_USERNAME='admin'
ADMIN_PASSWORD='__REQUIRED__'
ADMIN_ADDITIONAL_USERNAME=''
ADMIN_ADDITIONAL_PASSWORD=''

PUBLIC_HOST='__REQUIRED__'
TLS_CERTIFICATE='__REQUIRED__'
TLS_CERTIFICATE_KEY='__REQUIRED__'
NGINX_CONFIG_PATH='/etc/nginx/conf.d/yulin-youxian.conf'

DELIVERY_ENABLED='true'
DELIVERY_STORE_LAT='__REQUIRED__'
DELIVERY_STORE_LNG='__REQUIRED__'
AMAP_ENABLED='false'
AMAP_WEB_KEY=''
AMAP_JS_KEY=''
PUSH_PROVIDER='NOOP'
JPUSH_APP_KEY=''
JPUSH_MASTER_SECRET=''
PRIVACY_NUMBER_PROVIDER='NOOP'
ALIYUN_AK_ID=''
ALIYUN_AK_SECRET=''
ALIYUN_PNP_POOL_KEY=''

WECHAT_MINIAPP_APP_ID=''
WECHAT_MINIAPP_APP_SECRET=''
WECHAT_PAY_APP_ID=''
WECHAT_PAY_MCH_ID=''
WECHAT_PAY_API_V3_KEY=''
WECHAT_PAY_MERCHANT_SERIAL_NO=''
WECHAT_PAY_PRIVATE_KEY_PATH=''
WECHAT_PAY_PUBLIC_KEY_PATH=''
WECHAT_PAY_PLATFORM_CERTIFICATE_PATH=''
WECHAT_PAY_NOTIFY_URL=''
WECHAT_PAY_REFUND_NOTIFY_URL=''

READINESS_BACKUP_DIRECTORY="$YULIN_DATA_ROOT/data/backups"
MAX_BACKUP_AGE_MINUTES='30'
MIN_FREE_MB='5120'
